:root {
    --fonte-Raleway: 'Raleway', sans-serif;
    --cor-brancoLeve: #F5F5F5;
    --cor-azul: #2A7AE4;
    --cor-cinza: #464646;
    --cor-cinzaAzulado: #EAF2FD;
    --cor-cinzaClaro: #CACACA;
    --cor-pretoAcinzentado: #464646;
}

html {
    font-family: var(--fonte-Raleway);
}