/*Botões tipo 1: login -> (texto e bordas azuis e fundo branco) */

.botao-tipo1 {
    color: var(--cor-azul);
    background-color: white;
    border: 1px solid var(--cor-azul);
}

/*Botões tipo 2: 'ver consoles', 'enviar mensagem' -> (texto branco, bordas e fundo azuis) */

.botao-tipo2 {
    color: var(--cor-brancoLeve);
    background-color: var(--cor-azul);
    border: 1px solid var(--cor-azul);
}

.cabecalho-btn_login {
    width: 11.37rem;    
    height: 3.18rem;
}

.cabecalho-btn_banner {
    width: 8.125rem;
    height: 3.1875rem;
}

.rodape-faleConosco_form-btn{
    padding: 1rem;
    width: 10.3125rem;
    height: 3.1875rem;
}

@media screen and (max-width: 468px){
    .cabecalho-btn_login{
        width: 9.5rem;
        height: 3rem;
        font-weight: 600;
        margin-right: 1.5rem;    
    }
    
    .cabecalho-btn_banner {
        width: 8.125rem;
        height: 2.1875rem;
    }
}