
header .cabecalho {
    /*margin: 0 auto;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7.5rem;
}

    .cabecalho-logoPesquisa {
        display: flex;
        flex-direction: row;
        padding: 2rem 0;
        align-items: center;
    }

    .cabecalho-logoPesquisa-logo{
        padding-right: 1.5rem;
        }

    .cabecalho-barraPesquisa {
        background-color: var(--cor-brancoLeve);
        border-radius: 50px;
        padding: 0.8rem;
    }

    .cabecalho-campo_pesquisa {
        border: none;
        background-color: var(--cor-brancoLeve);
        width: 24.56rem;
        height: 0.5rem;
        padding: 0.5rem;
        border-radius: 10px;

    }

    .cabecalho-campo_pesquisa:focus{
        border: none;
        outline: none;
    }

    .cabecalho-pesquisa_lupa-mobile{
        display: none;
    }

    .cabecalho-banner{
        height: 22rem;
        background-repeat:no-repeat;
        background-image: url('../../img/logo/banner-image.png');
    }

    .cabecalho-banner_texto{
        padding-top: 12%;
        padding-left: 7.5%;
    }

    
    .cabecalho-banner_titulo {
        font-size: 3.25rem;
        color: white;
        font-weight: 700;
        padding: 1rem 0;
    }

    .cabecalho-banner_descricao {
        font-weight: 700;
        font-size: 1.375rem;
        color: white;
        padding-bottom: 1rem;
    }


@media screen and (max-width: 768px){
    header .cabecalho{
        padding: 0px 2.175rem;
    }

    .cabecalho-logoPesquisa {
        padding: 0.5rem 0;
    }

    .cabecalho-logoPesquisa-logo{
        width: 7rem;
    }

    .cabecalho-barraPesquisa{
        display: flex;
        flex-direction: row;
        width: 16rem;
    }

    .cabecalho-banner.cabecalho-banner {
        height: 13rem;
        background-image: url("../../img/logo/banner-image.png");
    }
    .cabecalho-banner_titulo{
        font-size: 3.25rem;
    }

    .cabecalho-banner_descricao{
        font-size: 0.875rem;
        font-weight: 600;
    }

    .cabecalho-banner_texto {
        padding-top: 2%;
        padding-left: 5.5%;
    }
}

@media screen and (max-width: 468px){
    header .cabecalho{
        padding: 0 1.176875rem;
    }

    .cabecalho-logoPesquisa-logo{
        width: 82%;
    }

    .cabecalho-barraPesquisa{
        display: none;
    }

    .cabecalho-pesquisa_lupa-mobile{
        display: inline-block;
        width: 1.6rem;
    }

    .cabecalho-banner{
        height: 9rem;
        background-image: url('../../img/logo/banner-imageMobile.png');
        background-size: 468px 138px;
    }
    .cabecalho-banner_titulo{
        font-size: 1.375rem;
    }

    .cabecalho-banner_descricao{
        font-size: 0.875rem;
        font-weight: 600;
    }

    .cabecalho-banner_texto {
        padding-top: 2%;
        padding-left: 5.5%;
    }
}